@{
// ----------------------------------------------------------
// Представление: Виджет грида Категорий продукции.
// ----------------------------------------------------------
}

<div id="tbar" style="padding:2px;">
    <a id="btnRefresh" href="#"></a>
    <a id="btnCreate" href="#"></a>
    <a id="btnEdit" href="#"></a>
    <a id="btnDelete" href="#"></a>
    <a id="btnOk" href="#"></a>
    <a id="btnCancel" href="#"></a>
</div>
<table id="grid" fit="true" border="false"></table>