@{
// ----------------------------------------------------------
// Представление: Виджет грида Категорий продукции.
// ----------------------------------------------------------
}

<div class="tbar" style="padding:2px;">
    <a class="btnRefresh" href="#"></a>
    <a class="btnCreate" href="#"></a>
    <a class="btnEdit" href="#"></a>
    <a class="btnDelete" href="#"></a>
    <a class="btnOk" href="#"></a>
    <a class="btnCancel" href="#"></a>
</div>
<table class="grid" fit="true" border="false"></table>