@{
// ----------------------------------------------------------
// Представление: Виджет формы Категории продукции
// ----------------------------------------------------------
}

<div style="padding:20px; width:500px;">
    <div style="margin-bottom:10px">
        <input class="tboxCode" name="code" labelWidth="100" style="width:40%" />
    </div>
    <div style="margin-bottom:10px">
        <input class="tboxName" name="name" labelWidth="100" style="width:100%;" />
    </div>
</div>
<div class="footer">
    <a class="btnOk" href="#"></a>
    <a class="btnCancel" href="#"></a>
</div>