<div id="layout" class="easyui-layout" fit="true">
    <div region="center" border="false">
        <div id="tabs" border="false" fit="true">
            <div id="tabCategory" title="Category" href="/Panel/CategoryInline/">
            </div>
            <div id="tabProduct" title="Product" href="/Panel/ProductDialog/">
            </div>
        </div>
    </div>
    <div region="south" height="auto" border="false" style="padding:5px;">
        <a id="mbtnAdd">Add tab</a>
        <div id="menuAdd">
            <div name="itemProduct">Product</div>
            <div name="itemCategory">Category</div>
        </div>
    </div>
</div>