<div id="layout" class="easyui-layout" fit="true">
    <div region="center" border="false">
        <div id="tabs" border="false" fit="true">
            <div id="tabCategory" title="Категории" href="/Panel/CategoryInline/">
            </div>
            <div id="tabProduct" title="Товары" href="/Panel/ProductDialog/">
            </div>
        </div>
    </div>
    <div region="south" height="auto" border="false" style="padding:5px;">
        <a id="mbtnAdd">Добавить вкладку</a>
        <div id="menuAdd">
            <div name="itemProduct">Товары</div>
            <div name="itemCategory">Категории</div>
        </div>
    </div>
</div>